## SEQUENCES ##
 - List(Mutable)
 - Tuple(Immutable)
 - String(Immutable)

## SEQUENCES PROPERTIES ##
 - Positional Ordering
 - Iterable
 - Homogeneous or Heterogeneous

In [1]:
my_lst = [1,2,3,4]
type(my_lst)

list

In [2]:
my_tup = (11,22,33,44)
type(my_tup)

tuple

In [3]:
my_str = ('python')
type(my_str)

str

### Positional Ordering ###

Access elements based on a positional index...
Index start at 0

In [4]:
# To get the element index postion 2(can be done for any sequence)

In [5]:
my_lst[2]

3

In [6]:
my_tup[0]

11

In [7]:
my_str[3]

'h'

In [8]:
#To get the index position along with the element for any sequence

In [9]:
list(enumerate(my_str))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [10]:
list(enumerate(my_tup))

[(0, 11), (1, 22), (2, 33), (3, 44)]

In [11]:
list(enumerate(my_lst))

[(0, 1), (1, 2), (2, 3), (3, 4)]

#### Slicing ####

In [12]:
#Apart from taking out the individual elements we can take out the slice of it

In [13]:
lst = [1,2,3,4,2,3,4,5,7,9]

In [14]:
lst[3:7]

[4, 2, 3, 4]

In [15]:
lst[:4]

[1, 2, 3, 4]

In [16]:
lst[4:]

[2, 3, 4, 5, 7, 9]

In [17]:
lst[:]

[1, 2, 3, 4, 2, 3, 4, 5, 7, 9]

In [18]:
lst = [10,11,12,13,14,15,16,17,18]

In [19]:
#To get the alternate number from the 2nd position

In [20]:
lst[1:6:2]

[11, 13, 15]

In [21]:
#to get the step of negative number

In [22]:
lst[6:1:-1]

[16, 15, 14, 13, 12]

In [23]:
#To reverse the list

In [24]:
lst[::-1]

[18, 17, 16, 15, 14, 13, 12, 11, 10]

In [25]:
mystr = 'python'

In [26]:
mystr[::-1]

'nohtyp'

In [27]:
mystr

'python'

In [28]:
lst

[10, 11, 12, 13, 14, 15, 16, 17, 18]

### Sequence are Iterable ###

In [29]:
for x in lst:
    print(x)

10
11
12
13
14
15
16
17
18

In [30]:
for x in mystr:
    print(x)

p
y
t
h
o
n

### Homogeneous and Hetrogeneous ###

In [31]:
#Homogeneous-elements belong to same datatypes.....string

In [32]:
lst=[1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [33]:
mystr = 'python3.0'
mystr

'python3.0'

In [34]:
#Heterogeneous-elements belong to different datatypes....list and tuple

In [35]:
lst=[1,'abc',4.5,[1.2]]
lst

[1, 'abc', 4.5, [1.2]]

In [36]:
#we will have function like sorting , fiding maximum of a list.So those will work only if the list is homogeneous or there should be a natural ordering of in the element

In [37]:
my_lst

[1, 2, 3, 4]

In [38]:
max(my_lst)

4

In [39]:
lst

[1, 'abc', 4.5, [1.2]]

In [40]:
max(lst)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
#it will throw an error as there is no natural ordering

### Sequence Methods ###

#### Membership test ####

In [ ]:
# to check wheather a particular element is there in the list or not

In [ ]:
mylst = [1,2,3,4,5,6]
mylst

In [ ]:
4 in mylst

In [ ]:
8 in mylst

In [ ]:
mystr = 'python'
mystr

In [ ]:
'p' in 'python'

In [ ]:
'x' in 'python'

In [ ]:
'p' not in 'python'

#### Concatenate ####

In [ ]:
'abc' + 'xyz'

l1 = [1,2,3]
l2 = [4,5,6]
l1+l2

#### Multiplication Operation ####

In [ ]:
# here * is actually a repeation operation when apply it on the sequence objects

In [ ]:
3 * l1

#### Length of the Collection ####

In [ ]:
l1

In [ ]:
len(l1)

In [ ]:
my_lst

In [ ]:
len(my_lst)

In [ ]:
len('python')

#### Maximum and Minimum Operation ####

In [ ]:
l2

In [ ]:
max(l2)

In [ ]:
min(l2)